<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://cdnjs.com/libraries/Chart.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-adapter-moment/1.0.0/chartjs-adapter-moment.min.js"></script>

    <title>Document</title>
</head>
<body>
    <button id="send-button">Send</button>
    <input type="text" id="data-field">
    <input type="text" id="type-field">
    <input type="text" id="id-field">
    <button id="get-button">Get</button>
    <canvas id="ctx" style="width:100%;max-width:700px"></canvas>
    <ul id="data-list"></ul>
<script src = "{{url_for('static', filename='script.js')}}"></script>
</body>
</html>