<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button id="send-button">Send</button>
    <input type="text" id="data-field">
    <input type="text" id="type-field">
    <input type="text" id="id-field">
    <button id="get-button">Get</button>
    <ul id="data-list"></ul>
<script src = "{{url_for('static', filename='script.js')}}"></script>
</body>
</html>